:root {
  --light-gray: #999;
  --gray: #666;
  --dark-gray: #444;

  --space-xs: 0.36em;
  --space-sm: 0.6em;
  --space-md: 1.8em;
}
body {
  background: #242424;
  margin: 0;
  font-family: system-ui, sans-serif;
  letter-spacing: 0.05em;
  overflow: hidden;
}
::selection {
  background-color: transparent;
}
a,
span {
  transition: all 0.06s;
}
.controls-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  color: var(--dark-gray);
  justify-content: space-around;
  padding: var(--space-md) var(--space-sm);
  text-align: center;
}
.controls-top a {
  border: 1px solid var(--dark-gray);
  padding: var(--space-sm);
  cursor: pointer;
}
.controls-top a:hover {
  border: 1px solid var(--gray);
}
.controls-top a:hover span {
  color: var(--gray);
}
.controls-top a span {
  padding: var(--space-xs);
}
@media (min-width: 768px) {
  .controls-bottom {
    opacity: 0.5;
  }
}
.controls-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: var(--space-md) var(--space-sm);
  color: var(--gray);
  font-weight: 500;
  text-align: center;
}
.controls-bottom > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.controls-bottom > div > div {
  margin: var(--space-sm) 0;
}
.rotate-btn {
  display: inline-block;
  padding: 10px;
  padding: var(--space-sm);
  border: 1px solid var(--dark-gray);
  border-radius: 50%;
  box-shadow: -1px -1px 0 var(--gray);
  cursor: pointer;
}
.rotate-btn:hover {
  border: 1px solid var(--light-gray);
}
.rotate-btn:hover span {
  color: var(--light-gray);
}
.rotate-btn + .rotate-btn {
  margin-left: var(--space-xs);
}
.rotate-btn span {
  width: 20px;
  display: inline-block;
  text-align: center;
}
